
#multiply_numbers {
  margin: 10px auto;
  width: 200px;
  text-align: center;
  /*border: solid 1px;*/
}

.button {
  font-size: 1em;
  margin: 10px 0;
  background-color: darkslategray;
  color: white;
}

#multiply_numbers input, #total span{
 /* border: solid 1px;*/
  width: 2em;
  font-size: 2em;
  margin: 10px 0;
}

#title {
  font-size: 7em; /*16px = 1em*/
  font-weight: bold;
  width: 9.5em;  /*64px = 1em*/
  margin: auto;
}
#turn_off_link {
  font-size: 10px;
  text-decoration: underline;
}

.flash {
   animation-name: flash;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes flash {
    from {color: white;}
    to {color: darkslategray;}
}